<!doctype html>
<html lang="{{ site.lang }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign redirect = page.redirect | relative_url %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    {% include head.liquid %}
 <!-- Meta tags for SEO -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- 网站描述 -->
  <!-- meta name="description" content="Miao Yu's personal homepage, featuring research, publications, and work in progress." -->
  <!-- 替换原有的静态 description -->
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  
  <!-- 关键词 -->
  <meta name="keywords" content="Miao Yu, HKU, information systems, PhD, information systems research">
  
  <!-- 作者 -->
  <meta name="author" content="Miao Yu">
  
  <!-- Open Graph meta tags for better social sharing -->
  <meta property="og:title" content="Miao Yu's Personal Homepage">
  <！meta property="og:description" content="Learn about Miao Yu's research, publications, and academic contributions."-->
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

  <meta property="og:url" content="https://miaoyuu.github.io/">
  <meta property="og:type" content="website">
  
  <!-- Twitter meta tags -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Miao Yu's Personal Homepage">
  <meta name="twitter:description" content="Learn about Miao Yu's research, publications, and academic contributions.">
  
  <title>{{ page.title }} | Miao Yu</title>



  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <div class="container mt-5" role="main">
      {% if page.toc and page.toc.sidebar %}
        {% if page.toc.sidebar == 'right' %}
          <div class="row">
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
          </div>
        {% else %}
          <div class="row">
            <!-- sidebar, which will move to the top on a small screen -->
            <div class="col-sm-3">
              <nav id="toc-sidebar" class="sticky-top"></nav>
            </div>
            <!-- main content area -->
            <div class="col-sm-9">{{ content }}</div>
          </div>
        {% endif %}
      {% else %}
        {{ content }}
      {% endif %}
    </div>

    <!-- Footer -->
    {% include footer.liquid %}

    <!-- JavaScripts -->
    {% include scripts/jquery.liquid %}
    {% include scripts/bootstrap.liquid %}
    {% include scripts/masonry.liquid %}
    {% include scripts/mermaid.liquid %}
    {% include scripts/diff2html.liquid %}
    {% include scripts/leaflet.liquid %}
    {% include scripts/chartjs.liquid %}
    {% include scripts/echarts.liquid %}
    {% include scripts/vega.liquid %}
    {% include scripts/tikzjax.liquid %}
    {% include scripts/typograms.liquid %}
    {% include scripts/misc.liquid %}
    {% include scripts/badges.liquid %}
    {% include scripts/mathjax.liquid %}
    {% include scripts/pseudocode.liquid %}
    {% include scripts/analytics.liquid %}
    {% include scripts/progressBar.liquid %}
    {% include scripts/wechatModal.liquid %}
    {% include scripts/imageLayouts.liquid %}
    {% include scripts/jekyll_tabs.liquid %}
    {% include scripts/back_to_top.liquid %}
    {% include scripts/search.liquid %}
  </body>
</html>
